extends szablon
block content
  article  
    h1 token zostal utworzony, wyswietl pod adresem ./token
    ul
     li
       h2 tajny klucz ktoregi nie powinienem zdradzać: "#{jwt.getSecret()}"
     li
       h2 claim: "#{jwt.getClaims()}"
       

 
