extends layout

block content
  form(action="/login", method="post")
    div
      label Login: 
      input(type="text" name="username")
    div
      label Hasło: 
      input(type="password" name="password")
    div
      input(type="submit" value="Zaloguj")
