nav
  ul
    li 
      a(href="/strona" style="color:red; background:blue" class="sr-only-focusable" target="") pug cz1
    br
    li 
      a(href="/jsdata" style="color:red; background:blue" target="") pug cz2
    br
    li 
      a(href="/students" style="color:red; background:blue" target="") rooting, mongoose
    br
    li 
      a(href="/users"  style="color:red; background:blue" target="") dodawanie, usuwanie z bazy z uzyciem sha1
    br
    li 
      a(href="/labfourth" style="color:red; background:blue" target="") sesja
    br
    li 
      a(href="/labfifth" style="color:red; background:blue" target="") token
    br
