extends szablon

prepend content
  nav 
    ul
      li 
        a(href="/strona", target="_blank") strona
      li 
        a(href="http://www.google.pl", target="_blank") google
      li 
        a(href="http://www.google.pl", target="_blank") google
  article
    h2 Dzialanie
    h1 Lorem ipsum
    p Tekst lorem ipsum
    p Lorem basdksadksakdas
     | fasfsafasfasfsa
     br
     | fafsafasfsaf
    
