doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/strona.css')
  body
    article
      h2 Dzialanie i uzytkowanie systemu szablonow
      section
        h3 Lorem ipsum
        p "Tekst lorem ipsum jest dostepny na stronie: "
          a(href="http://pl.lipsum.com/", target="_blank") pl.lipsum.com
        p(id="lorem") "asdasdkasdksadksadkaskdsakdsa
          br
          | sadsadsadasdsadasdsadasdasdasd
          br
          | sadsadasdsadsadsadsadasdas2"
      section(class="mix")
        h3 Automatyczna zmiana znacznikow html i jej wylaczenie
        p Znacznik oznaczajacy wazny tekst w HTML to 
          br 
          | przyklad jego dzialania:
          strong wazna tresc
        
