doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/banner.css')
  body
    include header
    section
      block content
        nav
        block page
    include footer
